
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.register__heading{
  margin-bottom : 50px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.register__body{
  max-width: 30vw;
  box-shadow: -1px -1px 10px -4px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  padding:50px;
  margin-bottom:30px;
}

.button:hover {
  opacity: 0.8;
}







